<div class="main-sidebar">
  <div class="sidebar">
    <%#= render 'layouts/navigation/sidebar/user' %>
    <%#= render 'layouts/navigation/sidebar/search' %>
    <ul class="sidebar-menu">
      <li class="header">
        HEADER
      </li>
      <li class="active">
        <a href="#">
          <span>Link</span>
        </a>
      </li>
      <li>
        <a href="#">
          <span>Another Link</span>
        </a>
      </li>
    </ul>
  </div>
</div>