<form action="#" class="sidebar-form" method="get">
  <div class="input-group">
    <input class="form-control" name="q" placeholder="Search..." type="text" />
    <span class="input-group-btn">
        <button class="btn btn-flat" id="search-btn" name="search" type="submit">
        <i class="fa fa-search">
        </i></button></span>
  </div>
</form>