<div class="user-panel">
  <div class="pull-left image">
    <img alt="User Image" class="user-image" src="http://placehold.it/160x160" />
  </div>
  <div class="pull-left info">
    <p>
      User Name
    </p>
    <a href="#">
      <i class="fa fa-circle text-success">
      </i>Online
    </a>
  </div>
</div>
