<footer class="main-footer">
  <div class="pull-right hidden-xs">
    Anything you want
  </div>
  <strong>
    Copyright © 2018
    <a href="https://turing.io"> Turing School of Software &amp; Design</a>
  </strong>
  All rights reserved.
</footer>