<header class="main-header">
  <a class="logo" href="/">Turing Salaries</a>

  <nav class="navbar navbar-static-top" role="navigation">
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        <li class="user user-menu"><a>Post and manage your salary information</a></li>
      </ul>
    </div>
  </nav>
</header>